# Networking
github "Alamofire/Alamofire" "5.0.0-beta.5" 
github "onevcat/Kingfisher" ~> 5.0 # Networking images caching

# Persistence
github "Tencent/WCDB" "v1.0.8.2"
github "nmdias/DefaultsKit" # UserDefaults
github "nvzqz/FileKit" # FileManager helper
github "ZipArchive/ZipArchive" # zipping and unzipping files

# Parsing
github "SwiftyJSON/SwiftyJSON" ~> 5.0 # JSON
github "tid-kijyun/Kanna" ~> 5.0.0 # HTML [In the project settings add $(SDKROOT)/usr/include/libxml2 to the "header search paths" field]

# UI
github "gonzalonunez/Skeleton" ~> 0.3.1 # Loading placeholder
github "hackiftekhar/IQKeyboardManager" # Keyboard managing
github "SwipeCellKit/SwipeCellKit" # Swipable cell
github "huri000/SwiftEntryKit" ~> 1.1.3 # Pop-ups helper
github "hyperoslo/Hue" # Color helper
github "cbpowell/MarqueeLabel" # adds a scrolling marquee effect when the label's text does not fit inside the specified frame

# Reactive programming
github "ReactiveX/RxSwift" ~> 5.0 # [RxCocoa, RxRelay, RxSwift]
github "RxSwiftCommunity/RxDataSources" ~> 4.0 # RxSwift helper for UITableView and UICollectionView [RxDataSources, Differentiator]

# Device
github "devicekit/DeviceKit" ~> 2.0 # a value-type replacement of UIDevice.

# Debugging
github "flipboard/FLEX" ~> 3.0
